<!DOCTYPE html>
{% load humanize %}
<html>
	
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Resultado de investigacion</title>
	
	<style type="text/css">
		body,div,table,thead,tbody,tfoot,tr,th,td,p {
      font-family: Calibri; 
      font-size: 13.5px }
 

    .contenedor-imagenes {
      display: block;
	 
    }
    
    .contenedor-imagenes img:first-child {
      margin-right: 1px;
    }

    @page {
      size: letter;
      margin: 0.8cm;
  }
	</style>
	
</head>
<!-- ************************************************************************** -->
<table align="left" cellspacing="0" border="0">
	<colgroup width="753"></colgroup>
	<colgroup span="18" width="85"></colgroup>
	
	<tr class="contenedor-imagenes">
		<td ><img src="https://arrendifystorage.s3.us-east-2.amazonaws.com/Recursos/ap_1.png" style="width:418px; height:102px"></td>
		<td ><img src="https://arrendifystorage.s3.us-east-2.amazonaws.com/Recursos/ap_2.png" style="width:324px; height:108px"></td>
	</tr>

	<tr>
		<td height="21"  valign=middle><div style="font-size: 8px; font-family: 'New Times Roman'; text-align:center;"><b>Arrendify se compromete a que toda información recabada será de carácter confidencial y de no divulgación de acuerdo a los Artículos 15 y 16 de la Ley Federal 
			de Protección de Datos Personales en Posesión de Particulares</b></div></td>
	</tr>
	
  <tr>
		<td height="20" align="left" valign=middle><font color="#000000"><br></font></td>
	</tr>
	
     <tr>
		<td style="text-align: center;" height="21"  valign=middle><b><font size=3 color="#000000">FECHA DE CONSULTA</font></b></td>
	</tr>
	<tr>
		<td height="20" style="text-align: center;" valign=middle sdval="45125" sdnum="1033;0;M/D/YYYY"><b><font color="#000000">{{fecha_consulta}}</font></b></td>
	</tr>

	<tr style="text-align:center; align-content: center;">
    	<td rowspan=3 height="62" valign=middle  ><b><font size=3 color="#000000"><br>
		<div style="display:block: margin-left:auto; margin-right:auto;">
      		<label style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000;  border-left: 1px solid #000000; text-align:justify; height:30px; width:525px;  padding: 5px 50px;">INVESTIGACIÓN DE ARRENDAMIENTO PARA PERSONAS FÍSICAS</label>
			</font></b></td>
		</div>
	</tr>

	<tr>
		<td height="20" align="left" valign=middle><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="30" align="left" valign=middle><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="20" align="left" valign=middle><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="20" align="left" valign=middle><font color="#000000"><br></font></td>
	</tr>

	<tr>
		<td height="21" align="justify" valign=middle><b><font size=3 color="#000000">NOMBRE: {{info.nombre_arrendatario}}.</font></b></td>
	</tr>
	<tr>
		<td height="21" align="justify" valign=middle><b><font size=3 color="#000000">IDENTIFICACIÓN: {{info.identificacion_arrendatario}} {{info.no_ide_arrendatario}} </font></b></td>
	</tr>
	<tr>
		<td height="21" align="justify" valign=middle><b><font size=3 color="#000000">NACIONALIDAD: {{info.nacionalidad_arrendatario}}.</font></b></td>
	</tr>
	<tr>
		<td height="41" align="justify" valign=middle><b><font size=3 color="#000000">DOMICILIO ACTUAL:  {{info.direccion_arrendatario}}.</font></b></td>
	</tr>
	<tr>
		<td height="45" align="justify" valign=middle><b><font size=3 color="#000000">PROFESIÓN/OCUPACIÓN: {{info.empleo}}.</font></b></td>
	</tr>
	<tr>
		{% comment %} <td height="41" align="justify" valign=middle><b><font size=3 color="#000000">INGRESO MENSUAL: ${info.ingresos}0.00 (Cero Pesos 00/100 M.N.) DE ACUERDO A YA CON DEDUCCIONES.</font></b></td> {% endcomment %}
		{% if ingreso == "Estado de cuenta" %}
		<td height="41" align="justify" valign=middle><b><font size=3 color="#000000">INGRESO MENSUAL: ${{ingreso | intcomma}}.00 ({{ingreso_texto}} Pesos 00/100 M.N.) DE ACUERDO A SU ESTADO DE CUENTA YA CON DEDUCCIONES.</font></b></td>
		{% else %}
		<td height="41" align="justify" valign=middle><b><font size=3 color="#000000">INGRESO MENSUAL: ${{ingreso | intcomma}}.00 ({{ingreso_texto}} Pesos 00/100 M.N.) DE ACUERDO A SU RECIBO DE NÓMINA YA CON DEDUCCIONES.</font></b></td>
		{% endif %}
	</tr>
	<tr>
		<td height="20" align="left" valign=middle><font color="#000000"><br></font></td>
	</tr>
	{% if info.aval == "Si" %}
		<tr>
			<td height="38" style="text-align: center;" valign=middle><b><font size=3 color="#000000">OBLIGADO SOLIDARIO</font></b></td>
		</tr>
		<tr>
			<td height="20" align="left" valign=middle><font color="#000000"><br></font></td>
		</tr>
		<tr>
			<td height="21" align="justify" valign=middle><b><font size=3 color="#000000">NOMBRE DEL PROSPECTO: {{info.nombre_residente}}.</font></b></td>
		</tr>
		<tr>
			<td height="23" align="justify" valign=middle><b><font size=3 color="#000000">IDENTIFICACIÓN: {{info.identificacion_residente}} {{info.no_ide_residente}}.</font></b></td>
			
		</tr>
		<tr>
			<td height="21" align="justify" valign=middle><b><font size=3 color="#000000">NACIONALIDAD: {{info.nacionalidad_residente}}.</font></b></td>
			
		</tr>
		<tr>
			<td height="41" align="justify" valign=middle><b><font size=3 color="#000000">DOMICILIO ACTUAL: {{info.direccion_residente}}.</font></b></td>
			
		</tr>
		<tr>
			<td height="20" align="left" valign=middle><font color="#000000"><br></font></td>
		</tr>
	{% else %}
	
	{% endif %}
	
	<tr style="text-align:center; align-content: center;">
    <td rowspan=2 height="45" valign=bottom style="display:block;margin: 0 auto;" ><b><font size=3 color="#000000"><br>
		<div style="display:block: margin-left:auto; margin-right:auto;">
			<label style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000;  border-left: 1px solid #000000; text-align:justify; align-content: center; height:30px; width:525px;  padding: 5px 108px;">REFERENCIAS PERSONALES, LABORALES</label>
			</font></b></td>
		</div>
	</tr>
	<tr>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="63" align="justify" valign=middle><font size=3 color="#000000">LAS REFERENCIAS PERSONALES Y LABORALES DE {{info.nombre_arrendatario | upper}}, SON ACORDES Y CONSISTENTES EN CIRCUNSTANCIAS DE MODO TIEMPO Y LUGAR, LO QUE DA UN MÍNIMO DE MARGEN EN UNA POSIBLE FALSEDAD EN LA SOLICITUD DEL INVESTIGADO.</font></td>
	</tr>

	<tr style="text-align:center; align-content: center;">
    <td rowspan=2 height="41" valign=bottom style="display:block;margin: 0 auto;" ><b><font size=3 color="#000000"><br>
	  <div style="display:block: margin-left:auto; margin-right:auto;">
		<label style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000;  border-left: 1px solid #000000; text-align:justify; align-content: center; margin: 8px 114px; height:30px; width:525px;  padding: 5px 74px;">ANTECEDENTES LEGALES NACIONALES DE LAS PARTES</label>
		</font></b></td>
	</div>
	</tr>
	<tr>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="84" align="justify" valign=middle><font size=3 color="#000000">DE ACUERDO A UNA BÚSQUEDA DE LOS ÚLTIMOS 5 AÑOS, NO EXISTE NINGÚN JUICIO CIVIL Y/O MERCANTIL ACTIVO PROMOVIDO EN CONTRA DE {{info.nombre_arrendatario | upper}} YA SEA EN EL FUERO COMÚN O FEDERAL. LO QUE DEJA VER SU SOLVENCIA MORAL Y ECONÓMICA EN EL CUMPLIMIENTO DE SUS OBLIGACIONES.</font></td>
	</tr>
	

	<tr style="text-align:center; align-content: center;">
    <td rowspan=2 height="41" valign=bottom style="display:block;margin: 0 auto;" ><b><font size=3 color="#000000"><br>
		<div style="display:block: margin-left:auto; margin-right:auto;">
			<label style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000;  border-left: 1px solid #000000; text-align:justify; align-content: center; margin: 8px 114px; height:30px; width:525px;  padding: 6px 174px;">CONCLUSIÓN</label>
			</font></b></td>
		</div>
	</tr>
	<tr>
		<td align="left" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td height="84" align="justify" valign=middle><font size=3 color="#000000">COMO RESULTADO DE LA INVESTIGACIÓN SOBRE LA INFORMACIÓN PROPORCIONADA POR LA PERSONA FÍSICA, BAJO PROTESTA DE DECIR VERDAD EN LA SOLICITUD ASÍ COMO DE LOS DOCUMENTOS ENTREGADOS, RESULTA QUE {{info.nombre_arrendatario | upper}} TIENE LA CAPACIDAD ECONÓMICA Y MORAL PARA CELEBRAR EL CONTRATO DE ARRENDAMIENTO.</font></td>

	</tr>
	<tr>
		<td height="63" align="justify" valign=middle><font size=3 color="#000000">TODA LA INFORMACIÓN PROPORCIONADA POR LA PERSONA FÍSICA QUEDA PROTEGIDA POR UN ACUERDO DE CONFIDENCIALIDAD DE ACUERDO A LA LEY FEDERAL DE PROTECCIÓN DE DATOS PERSONALES EN POSESIÓN DE PARTICULARES.</font></td>
		
	</tr>
	
	<tr>
		<td height="21" align="justify" valign=middle><font size=3 color="#000000"><br><br><br></font></td>
		
	</tr>
	<tr>
		<td style="text-align: center; height:21px;" valign=middle><b><font size=3 color="#000000">ELABORÓ</font></b></td>
		
	</tr>
	<tr>
		<td style="text-align: center; height:21px;" valign=middle><b><font size=3 color="#000000">ARRENDIFY</font></b></td>
		
	</tr>
	<tr>
		<td height="20" align="left" valign=bottom><font color="#000000"><br></font></td>
	</tr>
	<tr>
		<td style="text-align: center; height:21px;" valign=middle><b><font size=3 color="#000000">DEPARTAMENTO DEL ÁREA LEGAL</font></b></td>
	</tr>
</table>



<div class="row" style="display: flex; justify-content: space-between; align-items: center;">
	<div class="col" style="text-align: left;">
		<a href="www.arrendify.com">www.arrendify.com</a>
	</div>
	<div class="col" style="text-align: right;">
		Teléfono: 01 55 7258 9136
	</div>
	
</div>



<!-- ************************************************************************** -->
</body>

</html>
