<!DOCTYPE html>
{% load humanize %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Pagaré Semillero</title>
    
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <style>

    body{
        font-family: Arial;
        font-size: 15px;
    }

    .custom-table {
        border: none;
        border: 1px solid black;
    }
    
    .custom-table th, .custom-table td {
        border: none;
    }
    
    #moneda-nacional {
        border: 1px solid black;
        padding: 10px;
        margin: 10px 0;
    }

    .content {
        margin-top: 30px;
    }
    
    .deudor {
        margin-bottom: 50px;
    }
    .acepto {
    text-indent: 73.97px; /* Ajusta el valor según tus necesidades */
    }
    .negritas {
        color:black; 
		font-weight: bold;  
    }

.watermark-container {
    position: relative;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .justi{
    text-align: justify;
    text-justify: inter-word;
  }

  </style>
</head>
<body>
  {% for mes,anio in lista_fechas %}
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            {% comment %} <h1 class="text-start">Pagaré</h1> {% endcomment %}
            <br>
            <table class="table custom-table">
                <thead class="text-center">
                    <tr>
                        <th class="col-md-4" scope="col" >Pagaré</th>
                        <th class="col-md-4" scope="col">{{forloop.counter}} de {{duracion_meses}}</th>
                        <th class="col-md-4" scope="col"><b>Bueno por</th>
                    </tr>
                </thead>
                <tbody class="text-center align-middle">
                    <tr>
                        <td></td>
                        <td></td>
                        {% if forloop.counter == 1 %}
                            {% if pagare_distinto == "Si" %}
                                <td>${{cantidad_pagare | intcomma}}.{{cantidad_decimal}}</td>
                            {% else %}
                                <td>${{info.renta | intcomma}}.{{renta_decimal}}</td>
                            {% endif %}
                        {% else %}
                            <td>${{info.renta | intcomma}}.{{renta_decimal}}</td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  

<div class="container content watermark-container">
    {% if forloop.counter == 1 %}
    <div class="row">
        <div class="col-md-12">
            <p id="ref8" class="text-center">
                <span id="ref5">{{info.inmueble.estado}} </span>
                <span id="ref5">En EL ESTADO DE NUEVO LEON a </span>
                {% if mes == "Febrero" and dia > 28 %}
                <span id="ref5">28</span>
                {% else %}
                <span id="ref5">{{dia}}</span>
                {% endif %}
                <span id="ref5">de</span>
                <span id="ref6">{{mes}}</span>
                <span id="ref7">de</span>
                <span id="ref7">{{anio}}</span>
            </p>
            <br>
            <p>
                <span class="justi" id="ref4">Debemos y pagaremos incondicionalmente por este pagaré a la orden de:</span>
            </p>
            <p>
                <span class="justi negritas" id="ref4"><b>''FRATERNA ADMINISTRADORA DE PROYECTOS, S.A. DE C.V.'' REPRESENTADA POR CARLOS MANUEL PADILLA SILVA</b></span>
            </p>
            <br>
            <p id="ref8">
                <span id="ref5">En EL ESTADO DE NUEVO LEON a</span>
                {% if mes == "Febrero" and dia > 28 %}
                <span id="ref5">28</span>
                {% else %}
                <span id="ref5">{{dia}}</span>
                {% endif %}
                <span id="ref5">de</span>
                <span id="ref6">{{mes}}</span>
                <span id="ref7">de</span>
                <span id="ref7">{{anio}}</span>
            </p>
            <p class="justi" id="moneda-nacional">Valor recibido a mi entera satisfacción por la cantidad de {% if pagare_distinto == "Si" %}${{cantidad_pagare | intcomma}}.{{cantidad_decimal}} ({{cantidad_letra}} Pesos {{cantidad_decimal}}/100
                MONEDA NACIONAL).{% else %}${{info.renta | intcomma}}.{{renta_decimal}} ({{text_representation}} Pesos {{renta_decimal}}/100
                MONEDA NACIONAL).{% endif %} Este pagaré forma parte de una serie numerada del 1 al {{duracion_meses}} y todos están sujetos a la condición de que,
                al no pagarse cualquiera de ellos a su vencimiento, serán exigibles todos los que le sigan en número, además de los ya vencidos, 
                desde la fecha de vencimiento de este documento hasta el día de su liquidación causará intereses moratorios al tipo de 5% mensual, pagadero en esta ciudad 
                juntamente con el principal.
            </p>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <p id="ref8" class="text-center">
                <span id="ref5">{{info.inmueble.estado}} </span>
                <span id="ref5">En EL ESTADO DE NUEVO LEON a </span>
                {% if mes == "Febrero" and dia > 28 %}
                <span id="ref5">5</span>
                {% else %}
                <span id="ref5">5</span>
                {% endif %}
                <span id="ref5">de</span>
                <span id="ref6">{{mes}}</span>
                <span id="ref7">de</span>
                <span id="ref7">{{anio}}</span>
            </p>
            <br>
            <p>
                <span class="justi" id="ref4">Debemos y pagaremos incondicionalmente por este pagaré a la orden de:</span>
            </p>
            <p>
                <span class="justi negritas" id="ref4"><b>''FRATERNA ADMINISTRADORA DE PROYECTOS, S.A. DE C.V.'' REPRESENTADA POR CARLOS MANUEL PADILLA SILVA</b></span>
            </p>
            <br>
            <p id="ref8">
                <span id="ref5">En EL ESTADO DE NUEVO LEON a</span>
                {% if mes == "Febrero" and dia > 28 %}
                <span id="ref5">5</span>
                {% else %}
                <span id="ref5">5</span>
                {% endif %}
                <span id="ref5">de</span>
                <span id="ref6">{{mes}}</span>
                <span id="ref7">de</span>
                <span id="ref7">{{anio}}</span>
            </p>
            <p class="justi" id="moneda-nacional">Valor recibido a mi entera satisfacción por la cantidad de ${{info.renta | intcomma}}.{{renta_decimal}} ({{text_representation}} Pesos {{renta_decimal}}/100
                MONEDA NACIONAL). Este pagaré forma parte de una serie numerada del 1 al {{duracion_meses}} y todos están sujetos a la condición de que,
                al no pagarse cualquiera de ellos a su vencimiento, serán exigibles todos los que le sigan en número, además de los ya vencidos, 
                desde la fecha de vencimiento de este documento hasta el día de su liquidación causará intereses moratorios al tipo de 5% mensual, pagadero en esta ciudad 
                juntamente con el principal.
            </p>
        </div>
    </div>
    
    {% endif %}
    
</div>
<br>
<div class="container">
    <div class="row ">
        <div class="col-md-12 ">
            {% if info.arrendatario.regimen_arrendatario == "Persona Fisica" %}
                    <div class="col-md-8">
                        <h3>Nombre y Datos del Deudor</h3>
                        <p>Nombre: <span id="ref9">{{info.arrendatario.nombre_arrendatario | upper}}</span></p>
                        <p class="acepto">Acepto<span>&nbsp &nbsp _____________________________________________</span></p>
                        <p>Dirección: <span id="ref10"><b class="negritas">{{info.arrendatario.direccion_arrendatario | upper}}.</span></p>
                    </div>
                    <br> 
                {% else %}
                {% comment %} persona moral {% endcomment %}
                <div class="col-md-8">
                    <h3>Nombre y Datos del Deudor</h3>
                    <p>Nombre: <span id="ref9">"{{info.arrendatario.arr_nombre_empresa | upper}}" REPRESENTADA POR {{info.arrendatario.nombre_arrendatario | upper}} </span></p>
                    <p class="acepto">Acepto<span>&nbsp &nbsp _____________________________________________</span></p>
                    <p>Dirección: <span id="ref10"><b class="negritas">{{info.arrendatario.arr_direccion_fiscal | upper}}.</span></p>
                </div>
                <br>  
                     
                {% endif %}
         
            {% if info.arrendatario.aval == "Si" %}
                {% if info.arrendatario.regimen_obligado == "Persona Fisica" %}
                    <br> 
                    <div class="col-md-8">
                        <h3>Nombre y Datos del Deudor</h3>
                        <p>Nombre: <span id="ref9">{{info.arrendatario.nombre_obligado | upper}}</span></p>
                        <p class="acepto">Acepto<span>&nbsp &nbsp _____________________________________________</span></p>
                        <p>Dirección: <span id="ref10"><b class="negritas">{{info.arrendatario.direccion_obligado | upper}}.</span></p>
                    </div>
                {% else %}
                <div class="col-md-8">
                    <br> 
                    <h3>Nombre y Datos del Deudor</h3>
                    <p>Nombre: <span id="ref9">"{{info.arrendatario.obligado_nombre_empresa | upper}} REPRESENTADA POR {{info.arrendatario.obligado_nombre_rl | upper}} </span></p>
                    <p class="acepto">Acepto<span>&nbsp &nbsp _____________________________________________</span></p>
                    <p>Dirección: <span id="ref10"><b class="negritas">{{info.arrendatario.obligado_direccion_fiscal | upper}}.</span></p>
                </div>
                {% endif %}
                  
            
            
            
            {% else%}
            <div class="col-md-8">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            </div>
            
            {% endif %}
        </div>
    </div>
</div>
 
 
{% endfor %}
</body>
</html>
